<template>
  <div class="card bg-dark text-light">
    <div class="card-body text-center">
      <div class="h1 mb-3">
        <i class="bi bi-laptop"></i>
      </div>
      <h3 class="card-title mb-3">{{ dealer.name }}</h3>
      <p class="card-text"><span class="fw-bold">Brand:</span> {{ dealer.brand }}</p>
      <p class="card-text"><span class="fw-bold">City:</span> {{ dealer.city }}</p>
      <p class="card-text"><span class="fw-bold">State:</span> {{ dealer.state }}</p>
      <p class="card-text"><span class="fw-bold">Country:</span> {{ dealer.country }}</p>
      <router-link :to="{ name: 'Vehicle', params: { id: dealer.bac } }" class="btn btn-primary">Read More</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DealerList',
  props: {
    dealer: Object,
  },
};
</script>
