<template>
  <section id="learn" class="p-2">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">{{ `${vehicle.make} model ${vehicle.model}` }}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">VIN</h6>
              <small class="text-muted">{{ vehicle.vin }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">ctp Status</h6>
              <small class="text-muted">{{ vehicle.ctpStatus }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">onStar Status</h6>
              <small class="text-muted">{{ vehicle.color }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">create time</h6>
              <small class="text-muted">{{ `${vehicle.createdAt.split('T')[0]}` }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">color</h6>
              <small class="text-muted">{{ vehicle.color }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">stock number</h6>
              <small class="text-muted">{{ vehicle.stockNumber }}</small>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <h6 class="my-0">year</h6>
              <small class="text-muted">{{ vehicle.year }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'VehicleItem',
  props: {
    vehicle: Object,
  },
};
</script>
