<template>
  <section class="p-4">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../assets/dealership2.jpeg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <div v-show="Boolean(error)" class="container alert alert-primary" role="alert">{{ error }}</div>

  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md" v-bind:key="dealer.bac" v-for="dealer in dealers">
          <DealerItem v-bind:dealer="dealer" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import DealerItem from '../components/DealerItem';

export default {
  name: 'Dealer',
  components: {
    DealerItem,
  },
  data() {
    return {
      dealers: [],
      error: '',
    };
  },
  async created() {
    const res = await fetch('https://0s93rwp7d1.execute-api.us-west-2.amazonaws.com/development/dealers');
    const data = await res.json();
    if (res.status === 500) {
      this.error = 'Server error, please retry later';
    } else {
      this.dealers = data;
    }
  },
};
</script>
