<template>
  <section class="p-4">
    <div class="container">
      <router-link to="/">To Back</router-link>
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../assets/dealership1.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <div v-show="Boolean(error)" class="container alert alert-primary" role="alert">{{ error }}</div>
  <section class="p-3">
    <div class="container">
      <div class="row">
        <div v-bind:key="vehicle._id" v-for="vehicle in vehicles">
          <VehicleItem v-bind:vehicle="vehicle" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VehicleItem from '../components/VehicleItem';
export default {
  name: 'Vehicle',
  components: {
    VehicleItem,
  },
  data() {
    return {
      vehicles: [],
      error: '',
    };
  },
  async created() {
    const res = await fetch(
      `https://0s93rwp7d1.execute-api.us-west-2.amazonaws.com/development/vehicles/${this.$route.params.id}`
    );
    const data = await res.json();
    if (res.status === 500) {
      this.error = 'Server error, please try again later';
    } else if (res.status === 404) {
      this.error = "Resource not found, please check dealer's bac id";
    } else {
      this.vehicles = data;
    }
  },
};
</script>
